<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hello : {{ response.name }}</h1>
    <h1>Roll no : {{ response.roll_no }}</h1>
    <h1>numbers : {{ response.numbers }}</h1>
    {% for number in response.numbers %}
    {{ number }}
    <div>
      <img src="https://via.placeholder.com/150x150" alt="" />
    </div>
    {% endfor %}
  </body>
</html>
